h1 {
    color: rgb(22, 31, 77);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1.dotted {
    outline-style: dotted
}

h2 {
    color:rgb(65, 125, 223);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: rgb(67, 170, 140);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}

h4 {
    color: rgb(120, 205, 182);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
}

body {
    font-size: 20px;
    color:rgb(144, 105, 169);
}

body {
    background-image: linear-gradient(rgba(239, 206, 255, 0.411), rgb(170, 221, 255), rgb(193, 245, 203), rgba(233, 255, 177, 0.26))
}

#backbone {
    width: 300px;
    height: 345px;
    padding: 5px;
    border: 6px dotted rgb(144, 105, 169);
    background-color: rgb(255, 236, 221);
    background-image: url("https://64.media.tumblr.com/ff09fadfda9cc8ed14f9f10fa6b8fc07/a334bc640ae45c15-84/s250x400/233bddf2ffad0f79476f9b621dc10fb13b8abf66.gifv");
    margin: 5px;
    box-shadow: 5px 5px 5px 5px rgb(177, 231, 250);
  }

#image-seal {
    mask:
    radial-gradient(at 70% 31%,#d83275 29%,#ffa4bc00 30%),
    radial-gradient(at 30% 31%,#ff41a6 29%,#ff96e100 30%),
    linear-gradient(#ff8b8b 0 0) bottom/100% 50% no-repeat;
   clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#pagedoll { 
    position: fixed; 
    right: 25px; 
    bottom: 15px; 
    width: 100px 
}

#div-border {
    display: flex;
    justify-content: center;
}

#abt {
    display: flex;
    justify-content: center;
}

#turtle {
    display: flex;
    justify-content: right;
}

#seal-gif {
    display: flex;
    justify-content: left;
}

#whale-img {
    padding-right: 10px;
}