h1 {
    color: rgb(22, 31, 77);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1.dotted {
    outline-style: dotted
}

h2 {
    color:rgb(65, 125, 223);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: rgb(67, 170, 140);
    text-align: center;
}

h4 {
    color: rgb(120, 205, 182);
    text-align: center;
}

body {
    font-size: 20px;
    color:rgb(144, 105, 169);
}

body {
    background-image: linear-gradient(rgb(205, 234, 253), rgb(218, 255, 225))
}

#backbone {
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 5px dotted rgb(144, 105, 169);
    background-color: rgb(255, 255, 255);
    margin: 5px;
    box-shadow: 5px 5px 5px 5px rgb(177, 231, 250);
  }

#image-seal {
    mask:
    radial-gradient(at 70% 31%,#000 29%,#0000 30%),
    radial-gradient(at 30% 31%,#000 29%,#0000 30%),
    linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
   clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#pagedoll { 
    position: fixed; 
    right: 25px; 
    bottom: 15px; 
    width: 100px 
}

#div-border {
    display: flex;
    justify-content: center;
}

#abt {
    display: flex;
    justify-content: center;
}